<ion-header>
  <ion-toolbar>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contact Us Section -->
  <section class="contact-section">
    <div class="contact-info">
      <h2>Get in Touch</h2>
      <p>We'd love to hear from you. Whether it's feedback, questions, or just to say hello, reach out to us!</p>
    </div>

    <!-- Contact Information -->
    <div class="contact-details">
      <ion-icon name="call-outline"></ion-icon>
      <p>Phone: <a href="tel:+60125946350">+6012-5946350 (Encik Nas, cafe manager)</a></p>

      <ion-icon name="location-outline"></ion-icon>
      <p>Address:Jalan 6/91, Taman Shamelin Perkasa, 56100 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur </p>
    </div>

   
    
  </section>
</ion-content>
